{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
{%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

<div class="header">
  <div class="header__container">
    <div class="header__title">
      <a href="/">{{ site.title }}</a>
    </div>

    {%- if titles_size > 0 -%}
    <nav class="header__nav">
      <ul>
      {%- for path in page_paths -%}
        {%- assign page = site.pages | where: "path", path | first -%}
        {%- if page.title -%}
        <li class="header__link">
          <a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
        </li>
        {%- endif -%}
      {%- endfor -%}
      </ul>
    </nav>
    {%- endif -%}
  </div>
</div>

<script>
  const header = document.querySelector('.header')
  const container = header.querySelector('.header__container')
  const trigger = header.offsetHeight - container.offsetTop

  window.addEventListener("scroll", (event) => {
    if (window.scrollY > trigger) {
      header.classList.add('header--pinned')
    } else {
      header.classList.remove('header--pinned')
    }
  })
</script>
