$foreground: var(--hima-foreground);
$background: var(--hima-background);

$link-color: var(--hima-link-color);

$header-pinned-background: var(--hima-header-pinned-background);
$header-pinned-boxshadow: var(--hima-header-pinned-boxshadow);

$nav-pinned-border: var(--hima-nav-pinned-border);
$nav-menu-icon-fill: var(--hima-nav-menu-icon-fill);
$social-icon-fill: var(--hima-social-icon-fill);

$post-meta-color: var(--hima-post-meta-color);

$quote-background: var(--hima-quote-background);
$quote-accent: var(--hima-quote-accent);

$codeblock-accent: var(--hima-codeblock-accent);
$codeblock-background: var(--hima-codeblock-background);
$inline-code-border: var(--hima-inline-code-border);
$inline-code-background: var(--hima-inline-code-background);

$table-background: var(--hima-table-background);
$table-header-background: var(--hima-table-header-background);
$table-header-bottom-border: var(--hima-table-header-bottom-border);
$table-row-border: var(--hima-table-row-border);

$tag-foreground: var(--hima-tag-foreground);
$tag-background: var(--hima-tag-background);
$tag-background-hover: var(--hima-tag-background-hover);
$tag-prefix-color: var(--hima-tag-prefix-color);
$tag-suffix-color: var(--hima-tag-suffix-color);

