@font-face {
  font-family: 'Oswald';
  src:
    local('Oswald'),
    url('../fonts/Oswald.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  src:
    local('Open Sans'),
    url('../fonts/OpenSans.woff2') format('woff2');
}

@font-face {
  font-family: 'FiraCode';
  src:
    local('Fira Code'),
    url('../fonts/FiraCode.woff2') format('woff2');
}
