@font-face {
  font-family: 'Oswald';
  src:
    local('Oswald'),
    url('../fonts/Oswald.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  src:
    local('Open Sans'),
    url('../fonts/OpenSans.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraCode';
  src:
    local('Fira Code'),
    url('../fonts/FiraCode.ttf') format('truetype');
}
