@charset "utf-8";
@import './fonts';

$background: #f9f5d7;
$foreground: #1d2021;

$blue: #065567;
$gray: #928374;
$white: #faf6e8;

$content-padding: 2rem;
$content-width: 70rem;

$header-margin-top: 8rem;
$header-height: 8rem;
$header-pinned-height: 4rem;


html {
  overflow-y: scroll;
}

body {
  background: $background;
  color: $foreground;
  font: 400 100%/1.75 OpenSans, system-ui, Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
}

* + * {
  margin-top: 1rem;
}

h1, h2 {
  font-family: Oswald;
  text-transform: uppercase;
  margin-top: 2rem;
}

a {
  color: $blue;
  text-decoration: none;
  border-bottom: .15rem solid $blue;

  &:hover {
    font-weight: bold;
  }

  .header & {
    border-bottom: none;
    color: $foreground;
  }

  .footer__social-link & {
    border-bottom: none;
  }
}

[class*="__container"] {
  padding-left: $content-padding;
  padding-right: $content-padding;
  max-width: calc(#{$content-width} - (2 * #{$content-padding}));
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 2rem;
  position: sticky;
  top: -($header-height + $header-margin-top - $header-pinned-height);
  height: $header-height + $header-margin-top;
  transition: 0.2s ease;
  -webkit-font-smoothing: antialiased;

  &--pinned {
    background: $white;
    box-shadow: 0 -1rem 2rem 0 $gray;
  }

  &--pinned & {
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: $header-pinned-height;
    }

    &__title {
      font-size: 1.67rem;
    }

    &__nav {
      margin-top: 0;
      display: flex;
      align-items: center;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: Oswald;
    font-variation-settings: "wght" 800;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: $foreground;

      &:hover {
        font-weight: unset;
      }
    }
  }

  &__nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }

    li + li {
      margin-top: 0;
      margin-left: 3rem;
    }
  }
}

.content {
  display: flex;
  justify-content: center;
  text-align: justify;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 8rem;

  &__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__social-link {
    margin-top: 0;

    & + .footer__social-link {
      margin-left: 4rem;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &__author {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__email {
    margin-top: 0;
  }
}

.post-list-title {
  margin-top: 4rem;
}

.post-list {
  list-style-type: none;
  padding-left: 0;

  &__post {
    & + .post-list__post {
      margin-top: 2rem;
    }
  }

  &__title {
    margin: 0;
  }

  &__date {
    color: $gray;
  }

  &__excerpt {
    p {
      margin: 0;
    }
  }
}
