---
layout: default
---

{% if page.type == "category" %}
<h1>
  All posts in
  <span class="tag">
    <span class="tag__text">{{ page.title }}</span>
  </span>
</h1>
{% else if page.type == "tag" %}
<h1>
  All posts tagged as
  <span class="tag">
    <span class="tag__prefix">#</span>
    <span class="tag__text">{{ page.title }}</span>
  </span>
</h1>
{% endif %}

<ul class="archive__list">
  {% for post in page.posts %}
  <li>
    <span class="archive__date">{{ post.date | date: site.hima.date_format }}</span>
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
