---
layout: default
---
<div class="home__content">
{{ content }}
</div>

{%- if site.posts.size > 0 -%}
<h2 id="post-list-title" class="post-list-title">
  {% if page.post_list_title %}
    {{ page.post_list_title }}
  {% else %}
    Posts
  {% endif %}
</h2>
<section aria-labelledby="post-list-title">
<ol class="post-list">
  {%- for post in site.posts limit: page.post_list_limit -%}
  <li class="post-list__post">
    <h3 class="post-list__title">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h3>

    {%- assign date_format = site.hima.date_format | default: "%b. %-d, %Y" -%}
    <span class="post-list__date">{{ post.date | date: date_format }}</span>
    
    {% if post.categories and post.categories.size > 0 %}
    <span class="post-list__categories">
      in
      {% include post-categories.html categories=post.categories %}
    </span>
    {% endif %}

    <div class="post-list__excerpt">
      {{ post.excerpt }}
    </div>
  </li>
  {%- endfor -%}
</ol>
</section>
{%- endif -%}
