---
layout: default
---
<div class="home__content">
{{ content }}
</div>

{%- if site.posts.size > 0 -%}
<h2 id="post-list-title" class="post-list-title">Posts</h2>
<section aria-labelledby="post-list-title">
<ol class="post-list">
  {%- for post in site.posts -%}
  <li class="post-list__post">
    {%- assign date_format = site.hima.date_format | default: "%b. %-d, %Y" -%}
    <span class="post-list__date">{{ post.date | date: date_format }}</span>
    <h3 class="post-list__title">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h3>
    <div class="post-list__excerpt">{{ post.excerpt }}</div>
  </li>
  {%- endfor -%}
</ul>
</section>
{%- endif -%}
