---
layout: default
---

<div class="post">
  <div class="post__header">
    <h1 class="post__title">{{ page.title | escape }}</h1>
    {%- assign date_format = site.hima.date_format | default: "%b %-d, %Y" -%}
    {%- if page.author -%}
    <span class="post__author">by {{ page.author | join: ", " }} </span>
    {%- endif -%}
    {%- if page.date -%}
    <span class="post__date">on {{ page.date | date: date_format }}</span>
    {%- endif -%}
  </div>

  <div class="post__content">
  {{ content }}
  </div>
</div>
